#output-title {
  text-align: center;
  margin-bottom: 50px;
}

#word-list {
  text-align: center;
}

#extra_definition {
  display: none;
}
.def {
  text-align: center;
}

body {
  background-color: #d1f1fd;
}

.link {
  font-size: 20px;
  text-decoration: none;
}
